                * {
                    padding: 0;
                    margin: auto;
                    box-sizing: border-box;
                }
                
                 :root {
                    --body-bg-color: #413D2e;
                    --lighter-color: #d6d951;
                    --blog-color: #fff;
                    --white-color: #e6d6cb;
                }
                
                body {
                    font-family: 'Montserrat', sans-serif;
                    background-color: var(--body-bg-color);
                }
                
                p {
                    font-size: 14px;
                }
                
                .heading h2,
                .heading p {
                    text-align: center;
                    line-height: 20px;
                    margin: 20px 0;
                }
                
                .heading h2 {
                    padding-top: 20px;
                }
                
                .container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 8px;
                    margin: 20px auto;
                    padding: 20px;
                    background-color: var(--white-color);
                }
                
                .main-container {
                    background-color: var(--white-color);
                }
                
                .blog {
                    background-color: var(--blog-color);
                    justify-content: center;
                    align-items: center;
                    height: 70vh;
                    width: 20rem;
                    margin: 0 auto;
                }
                
                .blogImg {
                    margin: 10px auto;
                    position: relative;
                    opacity: 0.8;
                    padding: 20px;
                    height: 35vh;
                    width: 20rem;
                    animation: drop 1s ease-in;
                }
                
                @keyframes drop {
                    0% {
                        opacity: 0;
                        transform: translateY(-80px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
                
                .btn {
                    width: 30%;
                    height: 2rem;
                    margin-left: 35%;
                    border-radius: 5px;
                    outline: none;
                    border: 1px rgb(233, 225, 119) solid;
                    background-color: var(--lighter-color);
                    cursor: pointer;
                    margin-bottom: 20px;
                    animation: slide 1s ease-in;
                }
                
                @keyframes slide {
                    0% {
                        opacity: 0;
                        transform: translateX(-80px)
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0px)
                    }
                }
                
                .btn:hover {
                    background-color: var(--body-bg-color);
                    color: var(--lighter-color);
                    box-shadow: 0px 0px 5px 2px var(--lighter-color);
                }
                
                .location {
                    text-align: center;
                    line-height: 25px;
                    padding: 10px;
                }
                
                .blog p {
                    text-align: center;
                    padding: 10px;
                }
                
                .middle {
                    background-image: url('/aerial-photo-of-mountain-surrounded-by-fog-733174.jpg');
                    height: 40vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    margin: 20px 10px;
                    padding: 10px 10px;
                }
                
                .bigBtn {
                    height: 50px;
                    width: 270px;
                    background-color: var(--body-bg-color);
                    color: var(--lighter-color);
                    border: 2px solid;
                    outline: none;
                    cursor: pointer;
                }
                
                .bigBtn:hover {
                    background-color: var(--lighter-color);
                    color: var(--body-bg-color);
                    box-shadow: 0px 0px 5px 2px var(--body-bg-color);
                }
                /* users testimony section */
                
                .userHead h2 {
                    margin: 40px 0 10px 0;
                    text-align: center;
                }
                
                .testimony {
                    padding: 40px;
                    margin: 0px;
                    background-color: var(--white-color);
                    margin: 10px 10px;
                }
                
                .person {
                    margin-left: 50px;
                    margin-bottom: 20px;
                    border-radius: 50%;
                    height: 10rem;
                    width: 12rem;
                    box-shadow: 0px 0px 5px 2px var(--lighter-color);
                }
                
                .userHead {
                    margin: 0 0 20px 0;
                }
                
                .user h3,
                .user p {
                    text-align: left;
                    line-height: 20px;
                    width: 50%;
                }
                
                .user {
                    display: flex;
                    flex-direction: row;
                    padding: 30px 0;
                    margin-bottom: 10px;
                    width: 70%;
                    background-color: var(--blog-color);
                    box-shadow: 0px 0px 5px 2px var(--lighter-color);
                }
                /* Media queries */
                
                @media (max-width: 1024px) {
                    .container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;
                    }
                }
                
                @media (max-width:812px) {
                    .container {
                        display: flex;
                        flex-direction: column;
                    }
                    .blog {
                        margin-bottom: 10px;
                    }
                    .blogImg {
                        margin: 10px auto;
                        width: 100%;
                    }
                    .middle {
                        display: flex;
                        flex-direction: column;
                    }
                    .middle h2 {
                        text-align: center;
                    }
                    .middle p {
                        text-align: center;
                    }
                    .user {
                        display: flex;
                        flex-direction: column;
                    }
                    .user h3 {
                        margin-top: 10px;
                    }
                    .user h3,
                    .user p {
                        text-align: center;
                        width: 100%;
                        padding: 10px;
                    }
                    .person {
                        margin-left: 80px;
                        height: 8rem;
                        width: 8rem;
                    }
                }