*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*NAVBAR*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(226,226,226);
}

.burger {
    display: none;
    cursor: pointer;
}

 .burger div {
     width: 25px;
     height: 3px;
     background-color: rgb(226,226,226);
     margin: 5px;
 }

 /*END OF NAVBAR*/

 /*LANDING PAGE IMAGE*/
 .grow {
     background-image: url('img/Kal.jpg');
     height: 100vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }


 /*SECOND SECTION: OWNER*/

 .owner{
     width: 80%;
     margin: 5% auto 3% auto;
 }

 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 65vh;
 }

 #read{
     border-radius: 4px;
     padding: 20px;
     background-color: #413D2E;
     color: #fff;
     border: none;
 }

 #read:hover {
     padding: 25px;
     cursor: pointer;
     background-color: #d6d951;
     color: black;
 }

 #two{
     display: grid;
     grid-gap: 1%;
     padding-bottom: 20px;
 }

 #pic1 {
    grid-column: 1/ span 1.5 ;
    border: 2px solid red;
    grid-template-rows: 0.4em;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 #pic2 {
    grid-column: 2/ span 1 ;
    border: 2px solid red;
    grid-template-rows: 0.5em;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 #pic3 {
    grid-column: 1 / span 2;
    border: 2px solid red;
    grid-template-rows: 5em;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*END OF SECTION: OWNER*/

/*THIRD SECTION: CATEGORIES*/

.category{
    background-image: url(img/coconut.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3%;
}

#categories{
    margin: auto;
    width: 80vw;
    color: #fff;
}

#categories h4{
    padding-top: 5%;
}

#categories2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 19em;
    grid-gap: 2%;
    margin-top: 2%;
}

#place1{
    border: 2px solid blue;
    justify-content: center;
    text-align: center;
}

#place2{
    border: 2px solid red;
    text-align: center;
}

#place3{
    border: 2px solid red;
    text-align: center;
}

#place4{
    border: 2px solid red;
    text-align: center;
}

/*END OF SECTION: CATEGORIES*/

/*START OF SECTION: TRENDING*/
.trending{
    margin-top: 2%;
    height: 80vh;
    margin: auto;
    width: 80%;
}

.trend{ 
    display: grid;
    grid-gap: 0.5%;
    height: 80%;
}

.trend1{
    border: 2px solid red;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trend2{
    border: 2px solid red;
    grid-column: 3/4;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trend3{
    border: 2px solid red;
    grid-column: 4/5;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trend4{
    border: 2px solid red;
    grid-column: 3/5;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*END OF SECTION: TRENDING*/


/*START OF SECTION: TESTIMONIAL*/

.testimonial{
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22em;
}

.test1{
    width: 80%;
    margin: 12% auto;
}

.test1 blockquote{
    margin: 2.5% 0;
    line-height: 2em;
}

.test1 p {
    margin-left: 7%;
}

.test2{
    border: 2px solid red;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*END OF SECTION: TESTIMONIAL*/

/*START OF SECTION: BLOG */

.blog{
    width: 80%;
    margin: 5% auto;
    height: 70vh;
}

.blogger{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25em;
    grid-gap: 2%;  
}

.blogger img {
    height: 14em;
    width: 22em;
}

.blogger h4 {
    text-align: center;
    margin-top: 3%;
}

.blogger p {
    text-align: center;
    margin-top: 3%;
}

.blogger button {
    color: white;
    position: relative;
    margin-top: 1%;
}

.post1, .post2, .post3{
    background-color: #ccc;
}

.read{
    border-radius: 4px;
    padding: 10px;
    background-color: #413D2E;
    color: #fff;
    border: none;
    margin-left: 37%;
}

.read:hover {
    padding: 15px;
    cursor: pointer;
    background-color: #d6d951;
    color: black;
}

/*END OF SECTION: BLOG*/

/*START OF SECTION: LATEST PHOTOS*/

.photos{
    margin: 8% auto;
    height: 50vh;
    width: 100vw;
}

.photos h1, .photos h4 {
    width: 80vw;
    margin: auto;
}

.photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 22em; 
}

.photo1, .photo2, .photo3, .photo4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo1{
    background-image: url(img/Kal.jpg);
}

.photo2{
    background-image: url(img/coconut.jpg); 
}

.photo3{
    background-image: url(img/rolands-varsbergs-miKmVyq3qhE-unsplash.jpg);
}

.photo4{
    background-image: url(img/Kal.jpg);
}

/*END OF SECTION: LATEST PHOTOS*/


/*START OF FOOTER*/





/*END OF FOOTER*/


/*MEDIA QUERIES*/
 @media screen and (max-width: 1024px) {
    
    .nav-links{
         width: 60%;
     }
 }

 @media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

     .nav-links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color: #5d4954;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
     }

    /* .nav-links li {
        opacity: 0;
     }*/

     .burger{
         display: block;
     }
 }

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
   opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}